global:
  # The smarthost and SMTP sender used for mail notifications.
  smtp_smarthost: '{{ alertmanager_docker__smtp_smarthost }}'
  smtp_from: '{{ alertmanager_docker__smtp_from }}'
  smtp_auth_username: '{{ alertmanager_docker__smtp_auth_username }}'
  smtp_auth_password: '{{ alertmanager_docker__smtp_auth_password }}'

route:
  group_by: ['alertname']

  # A default receiver
  receiver: default-mails

  {% if alertmanager_docker__additional_routes is defined %}
  {{ alertmanager_docker__additional_routes | to_yaml }}
  {% endif %}

receivers:
- name: 'default-mails'
  email_configs:
  - to: '{{ alertmanager_docker__default_mail_receiver_address }}'

{% if alertmanager_docker__additional_receivers is defined %}
{{ alertmanager_docker__additional_receivers | to_yaml }}
{% endif %}
